{:source-paths ["src"]

 :dependencies [[binaryage/devtools "0.9.10"]
                [cljs-ajax "0.7.5"]
                [proto-repl "0.3.1"]
                [reagent "1.1.0"]]

 :nrepl        {:port 3333}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main
         {:entries [giggin.core]}}

        :devtools
        {:after-load  giggin.core/main
         :http-root   "public"
         :http-port   3000}}}}
